.font-size_14px {
  font-size: 14px;
}

.font-size_18px {
  font-size: 18px;
}

.font-size_20px {
  font-size: 20px;
}

.font-size_22px {
  font-size: 22px;
}

.font-size_24px {
  font-size: 24px;
}

.font-size_26px {
  font-size: 26px;
}

.font-size_28px {
  font-size: 28px;
}

.font-size_30px {
  font-size: 30px;
}

.font-size_32px {
  font-size: 32px;
}

.font-size_54px {
  font-size: 54px;
}

.font-size_64px {
  font-size: 64px;
}

@media (max-width: 576px) {
  .m-font-size_32px {
    font-size: 32px;
  }
  .m-font-size_54px {
    font-size: 54px;
  }
  .m-font-size_40px {
    font-size: 40px;
  }
  .m-font-size_44px {
    font-size: 44px;
  }
  .m-font-size_32px {
    font-size: 32px;
  }
  .m-font-size_22px {
    font-size: 22px;
  }
  .m-font-size_26px {
    font-size: 26px;
  }
  .m-font-size_20px {
    font-size: 20px;
  }

  .m-font-size_14px {
    font-size: 14px;
  }
}
.font-weight_300 {
  font-weight: 300;
}

.font-weight_400 {
  font-weight: 400;
}

.font-weight_500 {
  font-weight: 500;
}

.font-weight_600 {
  font-weight: 600;
}

.font-weight_700 {
  font-weight: 700;
}

.font-weight_800 {
  font-weight: 800;
}

.font-weight_900 {
  font-weight: 900;
}
