.width_10 {
  width: 10%;
}
.width_20 {
  width: 20%;
}
.width_30 {
  width: 30%;
}
.width_40 {
  width: 40%;
}
.width_50 {
  width: 50%;
}
.width_70 {
  width: 70%;
}
.width_80 {
  width: 80%;
}

.width_90 {
  width: 90%;
}

.width_100 {
  width: 100%;
}

/* ===================================== MOBILE WIDTH ===================================== */
@media (max-width: 576px) {
  .m-width_10 {
    width: 10%;
  }
  .m-width_20 {
    width: 20%;
  }
  .m-width_30 {
    width: 30%;
  }
  .m-width_40 {
    width: 40%;
  }
  .m-width_50 {
    width: 50%;
  }
  .m-width_70 {
    width: 70%;
  }
  .m-width_80 {
    width: 80%;
  }

  .m-width_90 {
    width: 90%;
  }

  .m-width_100 {
    width: 100%;
  }
}

.cover {
  min-height: 100vh;
}

@media (max-width: 576px) {
  .cover {
    min-height: 70vh;
  }
}
